:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: $code-bg-color;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 0.875em;
}

@import '~prismjs/themes/prism.css';