html {
    line-height: 1.65;
    -webkit-text-size-adjust: 100%;
}

@require './code';
@require './font';

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.hide-element {
    animation: fadeout 0.5s;
    animation-fill-mode: forwards;
}

.show-element {
    animation: fadein 1s;
    animation-fill-mode: forwards;
}

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 100%;
    font-size: 16px;
    color: $text-color;
}

a {
    font-weight: 400;
    color: $link-color;
    text-decoration: none;
    transition: all 0.24s ease;
}

.lol {
    animation: textColor 10s ease infinite;

    @keyframes textColor {
        0% {
            color: #7e0fff;
        }

        50% {
            color: #0fffc1;
        }

        100% {
            color: #7e0fff;
        }
    }
}

.go-to-top {
    color: #40577b !important;
}

.go-to-top:hover {
    color: #6a86b2 !important;
}

.nyaa-wrapper {
    text-align: center;
    padding: 2rem 0;

    @media only screen and (max-device-width: $mobile-width) {
        padding: 1rem 0;
    }

    .nyaa {
        position: relative;
        left: 0.2rem;
        display: inline-block;
        width: 3rem;
        height: 1.5rem;
        border: 0.4rem solid $border-color;
        border-top: none;
        cursor: pointer;
        border-radius: 0 0 100% 100% / 0 0 180% 160%;

        @media only screen and (max-device-width: $mobile-width) {
            width: 1.5rem;
            height: 0.75rem;
        }

        &.nyaa-right {
            left: -0.2rem;
            border-radius: 0 0 100% 100% / 0 0 160% 180%;
        }
    }
}

.icon.outbound {
    position: relative;
    display: inline-block;
    color: #aaa;
    vertical-align: middle;
    top: -1px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}