@tailwind core;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.65; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

// custom css start
@require './code';
@require './font';

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.hide-element {
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}

.show-element {
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100%;
  font-size: 16px;
  color: $text-color;
}

a {
  font-weight: 400;
  color: $link-color;
  text-decoration: none;
  transition: all 0.24s ease;
}

.lol {
  animation: textColor 10s ease infinite;

  @keyframes textColor {
    0% {
      color: #7e0fff;
    }

    50% {
      color: #0fffc1;
    }

    100% {
      color: #7e0fff;
    }
  }
}

.content-wrapper {
  max-width: $content-width;
  // margin: 0 auto;
  padding-left: 0.5rem;

}

.go-to-top:hover {
  color: #6a86b2;
}

.go-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  width: 2rem;
  color: #40577b;
  z-index: 1;
}