/* purgecss start ignore */
// colors
$accent-color = #40577b;
$light-color = #7FCCD9;
$text-color = #2c3e50;
$border-color = #718096;
$code-bg-color = #FFF5F7;
$code-text-color = #000;
$arrow-bg-color = #ccc;
$badge-tip-color = #42b983;
$badge-warning-color = darken(#ffe564, 35%);
$badge-error-color = #DA5961;
$link-color = #FC8181;
$dark-text-color = #000;
$gray-text-color = #757075;
// layout
$navbar-height = 3.6rem;
$sidebar-width = 20rem;
$content-width = 54rem;
$home-page-width = 960px;
$header-height = 20rem;
$para-gap = 1.2rem;
$mobile-width = 768px;
// font
$fonts-sans-serif = Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Noto Sans CJK", sans-serif;
$fonts-serif = Georgia, "Times New Roman", PMingLiu, STSong, SimSun, "WenQuanYi Bitmap Song", "Noto Serif CJK", serif;
$fonts-monospace = "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, monospace;

// font-size
$title-font-size = 2rem;
$subtitle-font-size = 1rem;
$tag-font-size = 1rem;
$meta-font-size= 1rem;
$paragraph-font-size = 1rem;
/* purgecss end ignore */